.App {
    min-height: 100vh;
    display: grid;
}

.cardPeople {
    border: 1px solid black;
    display: grid;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    justify-items: center;


}

.content {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
}

.BOXCARDS {
    display: grid;
    grid-gap: 20px;

}
.btn {
    padding: 10px;
    background-color: black;
    color: gold;
    border: none;
}

.boxbtn {
    display: flex;
    justify-content: center;
}
/*Tablette*/
@media screen and (min-width: 425px) {
    .BOXCARDS {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(2,1fr);
    }

}
nav {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    align-items: center;
    height: 100px;
}
/*Ecran Moyen desktop*/

@media screen and (min-width: 768px) {
    .BOXCARDS {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(2,1fr);
    }

}

/*Ecran Large desktop*/

@media screen and (min-width: 1200px) {
    .BOXCARDS {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(4,1fr);
    }

}

.navbars {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    position: fixed;
    opacity: 0.8;

}